<?xml version="1.0"?>
<launch>

    <!-- Name of the environment to load (must correspond to a model in 'ed_object_models' -->
    <arg name="env" default="robotics_testlabs" />

    <!-- Initial position of the robot -->
    <arg name="robot_init_x"   default="0.586"/>
    <arg name="robot_init_y"   default="4.259"/>
    <arg name="robot_init_phi" default="0"/>
  
    <!-- load robot description -->
    <param name="/amigo/robot_description" textfile="$(find amigo_description)/urdf/amigo.urdf" />

    <!-- start simulator -->
    <node name="fast_simulator" pkg="fast_simulator" type="simulator" args="--model-dir $(find fast_simulator_data)" output="screen"/>

    <!-- spawn world -->
    <node pkg="fast_simulator" type="spawn" name="spawn_world" args="-i $(arg env) -m $(arg env)" output="screen"/>

    <!-- spawn objects -->
    <node name="fast_simulator_object_spawner" pkg="fast_simulator_data" type="$(arg env).py" output="screen"/>

    <!-- spawn amigo -->
    <node pkg="fast_simulator" type="spawn" name="spawn_amigo" args="-i amigo -m amigo -x $(arg robot_init_x) -y $(arg robot_init_y) -Z $(arg robot_init_phi)" output="screen"/>

    <!-- Robot state publisher: publishes TFs -->
    <node pkg="robot_state_publisher" type="state_publisher" name="amigo_state_publisher" ns="amigo">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" type="string" value="amigo" />
        <remap from="joint_states" to="/amigo/joint_states"/>
    </node>

    <!-- fake localization -->
    <node pkg="tf" type="static_transform_publisher" name="tf_fake_localization" args="0 0 0 0 0 0 /map /amigo/odom 20" />

    <!-- Run ED -->
    <node name="ed_server" pkg="ed" type="ed_server" args="$(find amigo_ed_tutorials)/config/ed/segmentation.yaml" output="screen" />
 		
 </launch>
  
